.footer {
    margin-left: 280px;
    font-size: 18px;

}

.container {


    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: gray;

}

.grid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    text-align: center;

}

.img {
    border: 2px solid gray;
    border-radius: 10px;
}

.score {
    font-size: 50px;
}

.num {
    font-size: 50px;
}

.val {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}